<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supraja_pc.blooddonor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="BHelpr"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DonorActivity" />
        <activity android:name=".RequireActivity" />
        <activity android:name=".LoginActivity" android:noHistory="true" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".Info" />
        <activity android:name=".DisplayActivity"></activity>
    </application>

</manifest>